/*
@font-face  {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('#{$fontsPath}slick.eot');
    src: url('.#{$fontsPath}slick.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}slick.woff') format('woff'),
        url('#{$fontsPath}slick.ttf') format('truetype'),
        url('#{$fontsPath}#slick') format('svg');
}
*/

html{
    background: $backGroundColor;
    font-family: $baseFontFamily;
}

.container{
    display: flex;
    flex-direction: column;

}

.col{
    position: relative;
    display: flex;
    flex-direction: column;
    /*min-height: rem(320px);*/
    flex-basis: rem(500px);
    border: 1px solid red;
    background: $white;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);

/*    &:last-of-type {
        padding-bottom: 0;
    }*/

}

.col__content{
    background: linear-gradient(to right, blue, black);
}

.col__dateText {
    padding-top: rem(27px);
    line-height: 0;
    font-size: rem(13px);
    color: $dateColor;
    text-transform: uppercase;
    padding-left: rem(25px);
}

.col__title {
    font-size: rem(30px);
    font-weight: lighter;
    color: white;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.col__large {
    background: url("#{$imagesPath}ColumnBG.jpg") no-repeat;
    background-size: cover;
    justify-content: flex-end;
    padding-bottom: rem(44px);
}

.col__img  {
    /*display: block;*/
}

.col__contentText {
    padding-top: rem(25px);
    font-size: rem(23px);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: rem(25px);
}

.col__authorImg {
    position:absolute;
    bottom: rem(30px);
    /*left: rem(1px);*/
    /*height: rem(55px);
    width: rem(55px);*/
    /*padding-top: rem(40px);*/
    padding-left: rem(25px);
    max-width: rem(65px);
}